/*Que el home tenga en el menu un banner que sea bonito diseño libre Que salga tu foto o avatar y tu descripcion por ultimo RETO un nuevo componente que se llame footer el footer puede tener tus redes sociales o de artistas*/
.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/movilesll-75a48.appspot.com/o/ladygaga.webp?alt=media&token=d76463c0-acb8-4f81-9b54-af8350e7a4ff");
    background-position: top center;
    background-size: cover;
    padding: 15% 20% 50% 20%;
}

.foto{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/movilesll-75a48.appspot.com/o/ladygaga.webp?alt=media&token=d76463c0-acb8-4f81-9b54-af8350e7a4ff");
    background-position: top center;
    background-size: cover;
    padding: 15% 20% 50% 20%;
}

.descripcion{
    font-family: 'Delius', cursive;
    font-family: 'Just Another Hand', cursive;
}